:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --background-bg-color: #2F303A;
    --background-section-color: #F5F4FA;
    --secondary-accent-color: #188CE8;
    --secondary-border-color: #EEEEEE;
    --secondary-contact-color: #ffffff60;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto','Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}
.none-title {
    display: none;
}
.link {
    text-decoration: none;
    font-style: normal;
}

/* logo */
.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-black {
    color: var(--primary-black-color);
}
.logo-white {
    color: var(--primary-white-color);
}

/* nav */
.link-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu-nav .link-nav {
    color: var(--title-text-color);
}
.menu-nav .link-nav.current {
    color: var(--accent-color);
}
.menu-nav .link-nav:hover, 
.menu-nav .link-nav:focus {
    color: var(--accent-color);
}
.auth-nav .link-nav {
    color: var(--primary-text-color);
}
.auth-nav .link-nav:hover, 
.auth-nav .link-nav:focus {
    color: var(--accent-color);
}

/* hero */
.hero {
    background-color: var(--background-bg-color);
}
.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center; 
    text-transform: uppercase;
}
.button-hero {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-hero:hover, 
.button-hero:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-accent-color);
}

/* section */
.feature .text {
    font-size: 14px;
    line-height: 1.71;
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.feature .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* section-bg */
.section-bg {
    background-color: var(--background-section-color);
}
.command-card {
    background-color: var(--primary-white-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.command .title {
    color: var(--title-text-color);
    font-weight: 500;
}
.command .text, 
.command .title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* footer*/
.footer {
    background-color: var(--background-bg-color);
}
.link-contact,
.link-address {
    color: var(--secondary-contact-color);   
    font-size: 14px;
    line-height: 1.71;
}
.link-contact:hover, 
.link-contact:focus {
    color: var(--accent-color);
}
.link-address {
    color: var(--primary-white-color);
}

/* portfolio */
.botton { 
    color: var(--title-text-color);
    background-color: var(--background-section-color);
    font-family: inherit;
    cursor: pointer;
    display: inline-block;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
}
.filters .botton:hover, 
.filters .botton:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.project-group {
    border: 1px solid var(--secondary-border-color);
    box-sizing: border-box;
}
.project .title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project .text {  
    font-size: 16px;
    line-height: 1.87;
}